$horizon-top: 470px;
$mountain-large-height: 72px;
$mountain-clump-height: 46px;
$mountain-large-offset: 565px;
$mountain-clump-offset: 615px;
$mountain-total-width: 575px;

$cloud1-altitude: 145px;
$cloud2-altitude: 100px;
$cloud3-altitude: 60px; 
$cloud1-offset: $mountain-large-offset - 50px;
$cloud2-offset: $mountain-large-offset - 20px;
$cloud3-offset: $mountain-large-offset - 20px;
$cloud1-top: $horizon-top - $cloud1-altitude;
$cloud2-top: $horizon-top - $cloud2-altitude;
$cloud3-top: $horizon-top - $cloud3-altitude;

$cloud-bounce: 4px;

html, body{
  width: 100%;
  height: 100%;
}

#bg, #sun, #horizon, .cloud, .mountain {
  position: absolute;
}

@-webkit-keyframes animate-sun {
  from {top: 500px; opacity: 0;}
  to {top: 340px; opacity: 0.8;}
}
@-webkit-keyframes animate-sun-opacity {
  from {opacity: 0.8;}
  to {opacity: 0.3;}
}

#horizon {
  background-color: white;
  top: $horizon-top;
}

#sun {
  width: 100%;
  top: 340px;
  -webkit-animation: animate-sun-opacity 3s ease 6s infinite alternate, animate-sun 5s;
  opacity: 0.8;

  // left: 34%;
  img {
    width: 33%;
    display:block;
    margin: auto;
  }
  
}

#bg {
  // background: url("../assets/img/background.png") 0 0;
  // background-size: 100% 100%;
  width: 1697px;
  height: 810px;
  margin: auto;

}


@-webkit-keyframes animate-cloud1-h {
  from {left: $cloud1-offset}
  to {left: $cloud1-offset + $mountain-total-width}
}
@-webkit-keyframes animate-cloud1-v {
  from {top: $cloud1-top - $cloud_bounce;}
  to {top: $cloud1-top + $cloud_bounce;}
}
.cloud1 {
  top: $cloud1-top;
  width: 105px;
  height: 57px;
  left: $cloud1-offset;
  -webkit-animation: animate-cloud1-h 360s linear 0 infinite alternate;
}
@-webkit-keyframes animate-cloud2-h {
  from {right: $cloud2-offset}
  to {right: $cloud2-offset + $mountain-total-width}
}
@-webkit-keyframes animate-cloud2-v {
  from {top: $cloud2-top + $cloud_bounce;}
  to {top: $cloud2-top - $cloud_bounce;}
}
.cloud2 {
  top: $cloud2-top;
  width: 76px;
  height: 46px;
  right: $cloud2-offset;
  -webkit-animation: animate-cloud2-h 240s linear 0 infinite alternate, animate-cloud2-v 8s ease 0 infinite alternate;
}
@-webkit-keyframes animate-cloud3-h {
  from {left: $cloud3-offset}
  to {left: $cloud3-offset + $mountain-total-width}
}
@-webkit-keyframes animate-cloud3-v {
  from {top: $cloud3-top - $cloud_bounce;}
  to {top: $cloud3-top + $cloud_bounce;}
}
.cloud3 {
  top: $cloud3-top;
  width: 90px;
  height: 49px;
  left: $cloud3-offset;
  -webkit-animation: animate-cloud3-h 180s linear 0 infinite alternate, animate-cloud3-v 8s ease 0 infinite alternate;
}

.mountain-large {
  top: $horizon-top - $mountain-large-height;
  &.right {
    right: $mountain-large-offset;
  }
  &.left {
    left: $mountain-large-offset;
  }
}

.mountain-clump {
  top: $horizon-top - $mountain-clump-height;
  &.right {
    right: $mountain-clump-offset;
  }
  &.left {
    left: $mountain-clump-offset;
  }
}

