@skyport-top: 300px;
@skyport-height: 170px;
@skyport-width: 670px;

#skyport {
  top: @skyport-top;
  height: @skyport-height;
  width: @skyport-width;
  position: relative;
  margin:auto;
  
}

@sun-top-start: 170px;
@sun-top-end: 40px;

@horizon-top: 470px;
@mountain-large-top: 100px;
@mountain-clump-top: 125px;
@mountain-large-height: 72px;
@mountain-clump-height: 46px;
@mountain-large-offset: 50px;
@mountain-clump-offset: 100px;
@mountain-total-width: 575px;

@cloud1-altitude: 110px;
@cloud2-altitude: 70px;
@cloud3-altitude: 25px; 
@cloud1-offset: @mountain-large-offset - 50px;
@cloud2-offset: @mountain-large-offset - 20px;
@cloud3-offset: @mountain-large-offset - 20px;
@cloud1-top: @cloud1-altitude;
@cloud2-top: @cloud2-altitude;
@cloud3-top: @cloud3-altitude;

@cloud-bounce: 4px;

html, body{
  width: 100%;
  height: 100%;
}

#bg, #sun, #horizon, .cloud, .mountain {
  position: absolute;
}

@-webkit-keyframes animate-sun {
  from {top: @sun-top-start; opacity: 0;}
  to {top: @sun-top-end; opacity: 0.8;}
}
@-webkit-keyframes animate-sun-opacity {
  from {opacity: 0.8;}
  to {opacity: 0.3;}
}

#horizon {
  width: 100%;
  background-color: white;
  top: @horizon-top;
}

#sun {
  width: 100%;
  top: @sun-top-end;
  -webkit-animation: animate-sun-opacity 3s ease 6s infinite alternate, animate-sun 5s;
  opacity: 0.8;

  // left: 34%;
  img {
    width: 33%;
    display:block;
    margin: auto;
  }
  
}

#bg {
  // background: url("../assets/img/background.png") 0 0;
  // background-size: 100% 100%;
  width: 100%;
  height: 100%;
  margin: auto;
  div img {
    display:block;
    height: 100%;
    width: 100%;
  }

}


@-webkit-keyframes animate-cloud1-h {
  from {left: @cloud1-offset}
  to {left: @cloud1-offset + @mountain-total-width}
}
@-webkit-keyframes animate-cloud1-v {
  from {top: @cloud1-top - @cloud-bounce;}
  to {top: @cloud1-top + @cloud-bounce;}
}
.cloud1 {
  top: @cloud1-top;
  width: 105px;
  height: 57px;
  left: @cloud1-offset;
  -webkit-animation: animate-cloud1-h 360s linear 0 infinite alternate;
}
@-webkit-keyframes animate-cloud2-h {
  from {right: @cloud2-offset}
  to {right: @cloud2-offset + @mountain-total-width}
}
@-webkit-keyframes animate-cloud2-v {
  from {top: @cloud2-top + @cloud-bounce;}
  to {top: @cloud2-top - @cloud-bounce;}
}
.cloud2 {
  top: @cloud2-top;
  width: 76px;
  height: 46px;
  right: @cloud2-offset;
  -webkit-animation: animate-cloud2-h 240s linear 0 infinite alternate, animate-cloud2-v 8s ease 0 infinite alternate;
}
@-webkit-keyframes animate-cloud3-h {
  from {left: @cloud3-offset}
  to {left: @cloud3-offset + @mountain-total-width}
}
@-webkit-keyframes animate-cloud3-v {
  from {top: @cloud3-top - @cloud-bounce;}
  to {top: @cloud3-top + @cloud-bounce;}
}
.cloud3 {
  top: @cloud3-top;
  width: 90px;
  height: 49px;
  left: @cloud3-offset;
  -webkit-animation: animate-cloud3-h 180s linear 0 infinite alternate, animate-cloud3-v 8s ease 0 infinite alternate;
}

.mountain-large {
  bottom: 0;
  &.right {
    right: @mountain-large-offset;
  }
  &.left {
    left: @mountain-large-offset;
  }
}

.mountain-clump {
  bottom: 0;
  &.right {
    right: @mountain-clump-offset;
  }
  &.left {
    left: @mountain-clump-offset;
  }
}

