@font-face {
  font-family: avatar;
  src: url("../assets/fonts/unborneditrion.ttf"); }

@font-face {
  font-family: footer;
  src: url("../assets/fonts/visitor2.ttf"); }

@font-face {
  font-family: nav;
  src: url("../assets/fonts/Brandon_med.otf"); }

@font-face {
  font-family: text-font;
  src: url("../assets/fonts/gotham-htf.otf"); }

a {
  text-decoration: none; }

html, body {
  width: 100%;
  height: 100%; }

html, body, p, ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

#shadow {
  background-image: url("../assets/img/shadow.png");
  background-repeat: no-repeat;
  width: 193px;
  height: 30px; }

body {
  min-height: 400px;
  min-width: 450px; }

#copyright, body {
  position: absolute; }

@-webkit-keyframes opaque {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-webkit-keyframes rotate-nav-img30 {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(690deg); } }

@-webkit-keyframes rotate-nav-item30 {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(30deg); } }

@-webkit-keyframes rotate-nav-img60 {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(660deg); } }

@-webkit-keyframes rotate-nav-item60 {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(60deg); } }

@-webkit-keyframes rotate-nav-img90 {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(630deg); } }

@-webkit-keyframes rotate-nav-item90 {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(90deg); } }

@-webkit-keyframes rotate-nav-img120 {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(600deg); } }

@-webkit-keyframes rotate-nav-item120 {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(120deg); } }

@-webkit-keyframes rotate-nav-img150 {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(570deg); } }

@-webkit-keyframes rotate-nav-item150 {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(150deg); } }

@-webkit-keyframes rotate-nav-img180 {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(540deg); } }

@-webkit-keyframes rotate-nav-item180 {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(180deg); } }

@-webkit-keyframes rotate-nav-img210 {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(510deg); } }

@-webkit-keyframes rotate-nav-item210 {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(210deg); } }

@-webkit-keyframes rotate-nav-img240 {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(480deg); } }

@-webkit-keyframes rotate-nav-item240 {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(240deg); } }

@-webkit-keyframes rotate-nav-img270 {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(450deg); } }

@-webkit-keyframes rotate-nav-item270 {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(270deg); } }

@-webkit-keyframes rotate-nav-img300 {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(420deg); } }

@-webkit-keyframes rotate-nav-item300 {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(300deg); } }

@-webkit-keyframes rotate-nav-img360 {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes rotate-nav-item360 {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg); } }

#centerpiece {
  margin: auto;
  position: relative;
  width: 400px;
  height: 400px;
  top: calc(50% - 200px); }
  #centerpiece #avatar {
    position: relative;
    top: calc(50% - 150px);
    display: block;
    margin: auto;
    background-size: auto 100%;
    width: 300px;
    height: 300px;
    border: 1px solid rgba(60, 72, 90, 0);
    background-color: rgba(60, 72, 90, 0);
    border-radius: 150px; }
    #centerpiece #avatar img {
      width: 100%;
      height: 100%;
      display: block;
      opacity: 0.85; }
    #centerpiece #avatar i {
      display: none;
      font-family: avatar;
      text-decoration: none;
      font-style: normal;
      position: absolute;
      top: 0px;
      bottom: 0px;
      right: 0px;
      left: 0px; }
      #centerpiece #avatar i:nth-child(2) {
        font-size: 266px; }
  #centerpiece .nav {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; }
    #centerpiece .nav .nav-item {
      width: 20px;
      height: 100%;
      position: absolute;
      left: 50%;
      margin-left: -10px; }
      #centerpiece .nav .nav-item a {
        opacity: 0.5; }
        #centerpiece .nav .nav-item a:hover {
          opacity: 0.8; }
      #centerpiece .nav .nav-item img {
        width: 100%;
        opacity: 0; }
      #centerpiece .nav .nav-item:nth-child(1) {
        -webkit-animation: rotate-nav-item0 1s 1 forwards ease; }
        #centerpiece .nav .nav-item:nth-child(1) img {
          -webkit-animation: rotate-nav-img0 1s 1 forwards ease, opaque 1s 1 forwards ease;
          width: 100%; }
      #centerpiece .nav .nav-item:nth-child(2) {
        -webkit-animation: rotate-nav-item120 1s 0.15s 1 forwards ease; }
        #centerpiece .nav .nav-item:nth-child(2) img {
          -webkit-animation: rotate-nav-img120 1s 1 0.15s forwards ease, opaque 1s 1 0.15s forwards ease;
          width: 100%; }
      #centerpiece .nav .nav-item:nth-child(3) {
        -webkit-animation: rotate-nav-item240 1s 1 0.3s forwards ease; }
        #centerpiece .nav .nav-item:nth-child(3) img {
          -webkit-animation: rotate-nav-img240 1s 1 0.3s forwards ease, opaque 1s 1 0.3s forwards ease;
          width: 100%; }

@-webkit-keyframes animate-copyright {
  from {
    color: #131b58; }

  to {
    color: #40556f; } }

#copyright {
  -webkit-animation: animate-copyright 5s ease 0 infinite alternate;
  text-align: center;
  bottom: 0;
  padding: 15px 0;
  width: 100%;
  font-family: footer;
  font-size: 10px; }
