/*
Syntax error: Invalid CSS after "+rotate-nav": expected "{", was "($deg) {"
        on line 120 of less/styles.scss

115:       }
116:     }
117:   }
118: }
119: 
120: +rotate-nav($deg) {
121: 
122: }
123: 
124: @-webkit-keyframes rotate-nav-img{
125:   from {

Backtrace:
less/styles.scss:120
/var/lib/gems/1.9.1/gems/sass-3.2.7/lib/sass/scss/parser.rb:1148:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.2.7/lib/sass/scss/parser.rb:1084:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.2.7/lib/sass/scss/parser.rb:1079:in `tok!'
/var/lib/gems/1.9.1/gems/sass-3.2.7/lib/sass/scss/parser.rb:534:in `block'
/var/lib/gems/1.9.1/gems/sass-3.2.7/lib/sass/scss/parser.rb:529:in `ruleset'
/var/lib/gems/1.9.1/gems/sass-3.2.7/lib/sass/scss/parser.rb:553:in `block_child'
/var/lib/gems/1.9.1/gems/sass-3.2.7/lib/sass/scss/parser.rb:546:in `block_contents'
/var/lib/gems/1.9.1/gems/sass-3.2.7/lib/sass/scss/parser.rb:82:in `stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.2.7/lib/sass/scss/parser.rb:27:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.2.7/lib/sass/engine.rb:342:in `_to_tree'
/var/lib/gems/1.9.1/gems/sass-3.2.7/lib/sass/engine.rb:315:in `_render'
/var/lib/gems/1.9.1/gems/sass-3.2.7/lib/sass/engine.rb:262:in `render'
/var/lib/gems/1.9.1/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:341:in `update_stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:201:in `each'
/var/lib/gems/1.9.1/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:299:in `block in watch'
/var/lib/gems/1.9.1/gems/sass-3.2.7/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/var/lib/gems/1.9.1/gems/sass-3.2.7/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/var/lib/gems/1.9.1/gems/sass-3.2.7/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/var/lib/gems/1.9.1/gems/sass-3.2.7/vendor/listen/lib/listen/adapters/polling.rb:56:in `call'
/var/lib/gems/1.9.1/gems/sass-3.2.7/vendor/listen/lib/listen/adapters/polling.rb:56:in `poll'
/var/lib/gems/1.9.1/gems/sass-3.2.7/vendor/listen/lib/listen/adapters/polling.rb:32:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"+rotate-nav\": expected \"{\", was \"($deg) {\"\A         on line 120 of less/styles.scss\A \A 115:       }\A 116:     }\A 117:   }\A 118: }\A 119: \A 120: +rotate-nav($deg) {\A 121: \A 122: }\A 123: \A 124: @-webkit-keyframes rotate-nav-img{\A 125:   from {"; }
